.slick-slider > button {
  z-index: 99;
}

.slick-slider > button::before {
  font-size: 30px;
}

.slick-slider > .slick-prev {
  left: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.slick-slider > .slick-next {
  right: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
